.container-home{
    background-color: wheat;
    height: 65vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.central-container{
    width: 100%;
    background-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
}